#entityLists {
    display: flex;
    justify-content: center;
}

.politicians {
    display: flex;
    flex-direction: column;
    width: 280px;
    background-color: whitesmoke;
    border: 4px solid lightslategray;
    padding: 2px;
    margin: 10px;
}

.politician {
    border: 4px solid darkolivegreen;
    margin: 2px;
    padding: 10px;
}
.corporations {
    width: 280px;
    background-color: lightgrey;
    border: 4px solid cornflowerblue;
    padding: 10px;
    margin: 10px;
}


#donationsToPacsList {
    list-style: none;
}

.pac {
    width: 280px;
    background-color: aliceblue;
    border: 4px solid slategray;
    padding: 10px;
    margin: 10px;
}

#fullPolColumn {
    height: max-content;
}